@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DEMO</h1>
    <p class="lead">This site is an example to demostrate some techniques that I have learned. </p>
    @Html.ActionLink("Play it »", "Sukudo", "Games", null, new { @class = "btn btn-primary btn-lage", id = "demoBtn" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product Manage</h2>
        <p>This section is a simple back-end demo of database manipulation. It provides the functionality of creating, editing, deleting and querying the data. </p>
        <li style="font-weight: bold">ASP.NET MVC</li>
        <li style="font-weight: bold">Entity Framework</li>
        <br/>
        @Html.ActionLink(" Try it »", "Index", "Products",null,new { @class = "btn btn-primary"})
    </div>

    <div class="col-md-4">
        <h2>Games</h2>
        <p>The games section is used to practice my front-end skills. Currently what I have done is a Sukudo game.</p>
        <li style="font-weight: bold">HTML + CSS + JAVASCRIPT</li>
        <li style="font-weight: bold">jQuery</li>
        <li style="font-weight: bold">AJAX</li>
        <br />
        @Html.ActionLink(" Try it »", "Sukudo", "Games", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Others</h2>
        <p>Other skills that I have experienced are not included in this site:</p>
        <li style="font-weight: bold">Android</li>
        <li style="font-weight: bold">PHP + MYSQL</li>
        <li style="font-weight: bold">AWS Lambda + AWS DynamoDB(NoSQL)</li>
        <li style="font-weight: bold">Version Control: Git + BitBucket + Taiga</li>
        <li style="font-weight: bold">TDD Approach</li>
        <br/>
        @Html.ActionLink(" See more »", "About", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>