body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#demoBtn {
    height: 40px;
    width: 120px;
    font-size: 20px;
}

#cv {
    height: 1754px;
    width: 1240px;
    text-align: left;
    border: 2px solid;
}

.price {
    text-align: right;
}

#maindiv {
    width: 100%;
    height: 100%;
    float: left;
    text-align: justify;
    margin-bottom: 15px;
}

#leftDiv {
    width: 760px;
    float: left;
    border: 1px solid grey;
}

#rightDiv {
    margin-left: 20px;
    border: 1px solid grey;
    float: left;
    width: 360px;
    display: inline-block;
    padding: 20px;
    background-color: rgb(240, 250, 250);
    position:fixed;
}

.addBtn {
    color: rgb(220,220,220);
    background-color: rgb(92,184,92);
    padding: 0px;
    width: 35px;
    height: 35px;
    font-size: 24px;
    font-weight: bold;
}

.removeBtn {
    padding: 0px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 5px;
}

.myMenu {
    background: rgb(220,230,230);
}
    .myMenu:nth-child(odd) {
        background: rgb(255,255,255);
    }

.quantity {
    color: green;
    font-size: 17px;

}

.myName {
    padding-left: 10px;
    font-size: 17px;
    color: rgb(120, 120, 120);
}

.myPrice {
    font-size: 17px;
    color: rgb(60,60,60);
    padding-left: 20px;
    text-align: right;
}