
@{
    Layout = null;
}
@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SukudoCheckBoard</title>
</head>
<body>
<div id="msg">*@
    @ViewBag.message
@*</div>
</body>
</html>*@